@charset "UTF-8";
#MainContainer{
	height:100vh;
	background:#d9d9d9;
	overflow:hidden;
}
main{
    display:flex;
    width:80%;
    padding:20px;
    height:calc(80% - 40px);
    justify-content: flex-start;
}
main > header{order:3; width:100px;}

#NavList{
	padding: 20px 0 0 0;
/* 	select 효과를 위한 속성 */
	position: relative;
	right:1px;
	z-index:99;	
}

#NavList > li{
	background:#fff;
	padding:10px;
	text-align:center;
	border:1px solid #000;
	margin-bottom:5px;
	cursor:pointer;
	border-radius: 0 5px 5px 0;
}
#NavList > li.select{
	border-left:0;
	
}
#NavList > li:lastchild{
	margin:0;
}

#SideProfile{
	height:85%; width:25%;
	margin-right: 20px;
}
#MiniMain{
	height:85%; width:70%;
	position: relative;
	z-index: 1;
}
.AreaRound{
	display:flex;
	flex-direction:column;
	background:#fff;
	border:1px solid #000;
	padding:20px;
}

/* 유저프로필  */
.AsidePhoto{
	width:150px; height:150px;
	background:#ddd;
}

.NickName{
	display:flex;
	margin:20px 0;
	justify-content: space-between;
	width:100%;
}